@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* Variables */
:root {
  /* Primary Colors */
  --orange: #ff7d1a;
  --pale-orange: hsl(25, 100%, 94%);
  /* Neutral Colors */
  --dark-blue: rgb(29, 32, 37);
  --dark-gray-blue: hsl(217, 9%, 45%);
  --gray-blue: hsl(220, 14%, 75%);
  --light-gray-blue: hsl(223, 64%, 98%);
  --border-gray: #e4e9f2;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  color: var(--dark-gray-blue);
}

body {
  font-size: 1.6rem;
  font-family: "Kumbh Sans", sans-serif;
}

button:hover {
  cursor: pointer;
  /* opacity: .5; */
}

header {
  padding: 2rem;
  display: grid;
  grid: [row1-start] "logo-container cart-avatar-containter" [row1-end] [row2-start] "nav nav" [row2-end];
  justify-content: space-between;
  position: absolute;
  width: 100%;
  background-color: white;
}

#logo-container {
  grid-area: logo-container;
}

#btn-menu {
  background: url("./images/icon-menu.svg") no-repeat;
  background-size: cover;
  border: none;
  width: 1.5rem;
  height: 1.7rem;
  margin-right: 1.5rem;
  grid-area: btn-menu;
}

#btn-menu:active {
  opacity: 0.5;
}

#logo {
}

#cart-avatar-containter {
  display: flex;
  align-content: center;
  gap: 3rem;
  grid-area: cart-avatar-containter;
}

#cart-icon {
  background: url("./images/icon-cart.svg") no-repeat;
  background-size: cover;
  width: 2.4rem;
  height: 2.2rem;
  margin-top: 0.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
#cart-icon:hover {
  cursor: pointer;
  opacity: 0.5;
}
#cart-qty-preview {
  font-size: 1rem;
  font-weight: 700;
  color: white;
  background-color: var(--orange);
  padding: 0.05rem 0.75rem;
  border-radius: 7px;
  position: relative;
  bottom: 0.75rem;
  left: 0.75rem;
  visibility: hidden;
}
#avatar {
  background: url("./images/image-avatar.png") no-repeat;
  background-size: cover;
  width: 2.4rem;
  height: 2.4rem;
}
#avatar:hover {
  cursor: pointer;
  outline: 2px solid var(--orange);
  border-radius: 100%;
}

nav {
  display: none;
  grid-area: nav;
  padding-block: 5rem;
  color: var(--dark-blue);
  background-color: white;
  width: 100vw;
  z-index: 2;
}
nav ul {
  list-style: none;
  background-color: white;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-weight: 700;
  font-size: 1.8rem;
}
nav ul li:hover {
  cursor: pointer;
  color: var(--orange);
}

main {
  margin-bottom: 4rem;
}
#cart {
  display: none;
  background-color: white;
  border-radius: 3.5%;
  width: 95vw;
  height: 80vw;
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
  box-shadow: 0px 20px 15px 0px rgba(0, 0, 0, 0.2);
}
#cart h3 {
  color: var(--dark-blue);
  font-size: 1.6rem;
}
#cart-header {
  padding: 2rem;
  border-bottom: 1px solid var(--border-gray);
}
#cart-main {
  padding: 2rem;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
#cart-empty {
  font-weight: 700;
}
#cart-product {
  width: 100%;
  display: none;
  justify-content: space-between;
  gap: 1.5rem;
}
#cart-product img {
  border-radius: 4px;
}
#cart-total {
  color: var(--dark-blue);
  font-weight: 700;
  margin-left: 0.25rem;
}
#cart-delete-item {
  background: url("./images/icon-delete.svg") no-repeat;
  background-size: contain;
  border: none;
  height: 1.6rem;
  width: 1.4rem;
  align-self: center;
}
#btn-checkout {
  display: none;
}
#img-desktop {
  display: none;
}
#product-images {
  padding-top: 6.3rem;
}
#close-carousel {
  display: none;
}
#img-carousel {
  background: url("./images/image-product-1.jpg") no-repeat;
  background-size: cover;
  margin: auto;
  width: 100%;
  height: 90vw;
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#img-btn-previous,
#img-btn-next {
  border: none;
  background-color: white;
  border-radius: 100%;
  width: clamp(4rem, 7vw, 5.6rem);
  height: clamp(4rem, 7vw, 5.6rem);
  display: flex;
}
#img-btn-previous svg,
#img-btn-next svg {
  margin: auto;
  scale: clamp(50%, 5vw, 100%);
}

#img-btn-previous:hover svg path,
#img-btn-next:hover svg path {
  stroke: var(--orange);
}
#carousel-thumbnail-group {
  display: none;
}

.description {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.brand {
  font-size: clamp(1.2rem, 2vw, 1.3rem);
  color: var(--orange);
  letter-spacing: clamp(0.185rem, 2vw, 0.2rem);
  text-transform: uppercase;
}

.product {
  font-size: clamp(2.8rem, 4vw, 4.4rem);
  line-height: clamp(3.2rem, 4vw, 4.8rem);
  color: var(--dark-blue);
}

p {
  font-size: clamp(1.5rem, 2vw, 1.6rem);
  line-height: clamp(2.5rem, 2vw, 2.6rem);
}

.pricing-info {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.sale-price {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--dark-blue);
}

.discount {
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  color: var(--orange);
  background-color: var(--pale-orange);
}

.original-price {
  margin-left: auto;
  text-decoration: line-through;
  font-weight: 700;
  color: var(--gray-blue);
}
#qty-amount {
  color: var(--dark-blue);
}

.add-to-cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-to-cart-qty {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--light-gray-blue);
  padding: 2rem;
  border-radius: 1rem;
}

.add-to-cart-qty button {
  background: transparent;
  border: none;
}

.add-to-cart-qty button:active {
  opacity: 0.5;
}

.add-to-cart-qty span {
  font-weight: 700;
}

.btn-main {
  padding: 2rem;
  width: 100%;
  background-color: var(--orange);
  border: none;
  border-radius: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn-main svg {
  scale: 90%;
  z-index: 0;
}
.btn-main:active {
  box-shadow: none;
}

#add-to-cart-btn {
  box-shadow: 0px 20px 15px -7px rgba(255, 126, 27, 0.3);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1000px) {
  header {
    position: static;
    grid: [row1-start] "logo-container nav cart-avatar-containter" [row1-end];
    border-bottom: 1px solid var(--border-gray);
    width: 95%;
    max-width: 120rem;
    margin-inline: auto;
    padding: 2rem 0;
    align-items: center;
  }
  #btn-menu {
    display: none;
  }
  #cart-icon {
    margin-top: 1.5rem;
  }
  #avatar {
    width: 5rem;
    height: 5rem;
  }
  nav {
    display: inline;
    padding-block: 0;
    width: auto;
    z-index: 0;
  }
  nav ul {
    flex-direction: row;
    font-weight: 400;
    color: var(--dark-gray-blue);
    font-size: 1.5rem;
  }
  nav ul li:hover {
    color: var(--dark-blue);
    text-decoration: underline solid 4px var(--orange);
    text-underline-offset: 3.5rem;
  }
  main {
    width: 95%;
    max-width: 150rem;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #img-carousel-container {
    display: none;
    gap: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(29, 32, 37, 0.8);
    z-index: 2;
  }
  #close-carousel {
    display: block;
    position: relative;
    top: 10px;
    left: 66.5vw;
  }
  #close-carousel:hover {
    cursor: pointer;
  }
  #close-carousel:hover path {
    fill: var(--orange);
  }
  #img-carousel {
    width: 35vw;
    max-width: 55rem;
    height: 35vw;
    max-height: 55rem;
    border-radius: 1.5rem;
    margin: 2rem auto;
  }
  #img-btn-previous,
  #img-btn-next {
    position: relative;
  }
  #img-btn-previous {
    left: -4rem;
  }
  #img-btn-next {
    right: -4rem;
  }
  #carousel-thumbnail-group {
    width: 35vw;
    max-width: 55rem;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
  }
  .carousel-thumbnail-border {
    width: 5vw;
    max-width: 8.8rem;
    height: 5vw;
    max-height: 8.8rem;
    border-radius: 10px;
    /*outline: 2px solid rgba(255, 125, 26, 1);*/
  }
  .carousel-img-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .carousel-img-thumbnail:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  #img-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 44.5rem;
    height: auto;
  }
  #img-main-desktop {
    width: 100%;
    border-radius: 15px;
    grid-area: img-main;
  }
  #img-main-desktop:hover {
    cursor: pointer;
    outline: 4px solid rgba(255, 125, 26, 1);
  }
  .thumbnail-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .img-thumbnail-desktop {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .img-thumbnail-desktop:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  .half-opacity {
    opacity: 0.5;
  }
  .thumbnail-border {
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 10px;
    /*outline: 2px solid rgba(255, 125, 26, 1);*/
  }
  .description {
    width: 44.5rem;
  }
  .pricing-info {
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  .original-price {
    width: 100%;
  }
  .add-to-cart {
    flex-direction: row;
  }
  .add-to-cart-qty {
    width: 35%;
  }
  #add-to-cart-btn {
    width: 60%;
    box-shadow: none;
  }
  #add-to-cart-btn:hover {
    opacity: 0.5;
  }
  #cart {
    width: 36rem;
    height: auto;
    min-height: 25.6rem;
    top: 9rem;
    left: 61%;
    transform: none;
  }
}
